*.class
.settings/
src/main/webapp/WEB-INF/applicationContext-dao-base.xml
src/main/webapp/WEB-INF/applicationContext-web.xml
src/main/webapp/WEB-INF/applicationContext.xml
src/main/webapp/WEB-INF/db/
src/main/webapp/WEB-INF/log4j.xml
src/main/webapp/WEB-INF/webdefault.xml
src/main/webapp/META-INF/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/web.xml

# Package Files #
*.war
*.ear
GPATH
GSYMS
GRTAGS
GTAGS
gtags.files
/tags
/out
/classes
.DS_Store
*.swp
.svn
target/
.groovy/
logs/
.log
bin/
/test-output/
*~
.idea/
*.iml
